<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo dolor, ultrices id tincidunt quis, venenatis non ligula. Ut metus enim, elementum in tempor eget, posuere ut nisl. Curabitur non fermentum ligula. Proin quis nunc sit amet ligula fringilla rhoncus. Etiam risus ante, adipiscing faucibus ultricies et, commodo id nulla. Aliquam tincidunt ipsum lacus, vitae suscipit velit consectetur a. Suspendisse sodales, lacus at ultrices ultrices, dolor est luctus ligula, at scelerisque tortor ante sed nunc. Quisque in odio ornare, ullamcorper urna eu, fringilla leo. Nunc sed nulla tincidunt, blandit tortor vitae, eleifend ligula. Nunc consequat sagittis convallis. Aliquam erat volutpat. Maecenas posuere mi ut lectus fringilla, sed gravida nibh tristique. Proin quis sodales nisl, nec pretium magna. Mauris ullamcorper hendrerit velit, at tincidunt justo varius eu. Ut viverra mi nibh, vel tempor tellus facilisis eget.</string>
</array>
</plist>
