<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Check your goals regularly (e.g. once a fortnight) and adjust your tasks.</string>
	<string>The key is to design habits that will help you achieve your goals.</string>
	<string>Habits take 30+ days to establish. Try to keep your hit rate above 50% and steadily increasing.</string>
	<string>If your hit rate is consistently above 80% then perhaps adjust the task up a notch in difficulty to keep pushing yourself.</string>
	<string>Get motivation and help from your friends by posting to social networks.</string>
	<string>Sick of the ads or want to buy us a coffee? For a few dollars you can do both :)</string>
	<string>Have a suggested feature or improvement? Let us know and we&apos;ll add it to our to do list</string>
	<string>Please take a moment to rate our app or better still tell your friends about it</string>
</array>
</plist>
